.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.logic {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 10px 0;
}

.logic button {
  margin: 10px;
  background: none;
  border: 1px solid orange;
  cursor: pointer;
}

.calculate-css {
  color: black;
  text-shadow: 8px 5px 2px silver;
  text-align: center;
}

.calculate span {
  margin: auto 20px;
}

input {
  margin: 8px auto;
  border: none;
  box-shadow: 0 0 5px 1px orange;
  padding: 6px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}